body {
    background-color: white;
    margin: 0;
}

header {
    background-color: white;

}

header:after {
    content: '';
    display: table;
    clear: both;
}



.logof {
    width: 370px;
    height: 100px;
    float: left;
    margin-top: 35px;
    margin-left: 25px;
}


.nav2 {
    float: right;
    margin-right: 100px;
    margin-top: 5px;
    font-family: 'Bungee Hairline', cursive;
    color: black;
    font-size: 25px;
   
    text-align: right;
}

.nav2 ul {
   
    list-style: none;
}

.nav2 a {
    color: black;
    text-decoration: none;

}

.overskriftformular{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    letter-spacing: 6px;
}

.formulardel1{
    width: 300px;
    padding: 16px 32px;
    margin: 10px 2px;
    float: left;
    margin-left: 190px;
    margin-top: 60px;
}


.formularpic{
    float: right;
    width: 700px;
    margin-top: 120px;
    margin-right: 100px;
    width: 800px;
}
.frontpic {
    padding-left: 100px;
    width: 1300px;
    height: auto;
    margin-top: -10px;
    margin-left: 70px;
}


.login-pic {
    float: left;
    margin-left: 80px;
    margin-top: 60px;
    width: 500px;
}


.logpic{
    display: none;
}

.loginfunktion{
    float: left;
    margin-top: 150px;
    margin-left: 450px;
}


.overskriftfoerste{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    letter-spacing: 6px;
}

input[type=text]{
    border-style: dotted;
    width: 300px;
    padding: 16px 32px;
    margin: 10px 2px;
}

input.connect{
    background-color: white;
    width: 100px;
    line-height: 20px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    color: black;
    font-size: 13px;  
}

.overskrift {
    font-family: 'Staatliches', cursive;
    letter-spacing: 8px;
    float: left;
    margin-top: 50px;
    margin-left: 230px;
    font-size: 30px;
}

.chanel {
    float: right;
    margin-right: 320px;
    margin-top: 50px;
    width: 400px;

}

.countdown {
    float: left;
    margin-left: 230px;
    margin-top: 330px;
    width: 400px;
}

.signup {
    float: left;
    margin-top: 490px;
    margin-left:-390px;
}


.info-tekst {
    float: left;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    font-size: 20px;
    margin-right: 900px;
    margin-left: 230px;
    margin-top: -600px;

}


.overskrift2 {
    font-family: 'Staatliches', cursive;
    letter-spacing: 8px;
    float: left;
    margin-top: 90px;
    margin-left: 230px;
    font-size: 30px;
}

.samlet {
    float: left;
    font-family: 'Source Code Pro', monospace;
    text-align: left;
    font-size: 20px;
    margin-right: 1000px;
    margin-left: 220px;
    margin-top: -20px;
}

.knap2 {
    float: left;
    margin-left: 220px;
    margin-top: 30px;
}

.collage2 {
    float: right;
    margin-top: -300px;
    margin-right: 150px;
    width: 700px;
}



.logostort {
    margin-top: 350px;
    margin-left: 700px;
    width: 300px;
}


.tekst {
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    font-size: 20px;
}



.signupformular {
    float: left;
    margin-top: 50px;
    margin-left: 560px;
   
}

.overskriftsignup{
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    letter-spacing: 6px;
}



@media screen and (max-width: 768px) {

    .logo {
        
        width: 470px;
        height: 130px;
        float: left;
        margin-top: 430px;
        margin-left: 140px;
    }
    
    

    .nav1 {
        float: right;
        margin-top: -550px;
        margin-right: 30px;
        font-family: 'Bungee Hairline', cursive;
        color: black;
        font-size: 30px;
       
        text-align: right;
    }



    .frontpic {
        width: 800px;
        height: auto;
        float: left;
        margin-left: -120px;
        margin-right: 20px;
        margin-top: 100px;



    }


  .formulardel1{
    width: 300px;
    padding: 16px 32px;
    margin: 10px 2px;
    float: left;
    margin-left: 150px;
    margin-top: 60px;
}
    
    

    
    
    .formularpic{
        display:none;
    }

    .nav2 {
        float: right;
        margin-top: 40px;
        margin-right: 30px;
        font-family: 'Bungee Hairline', cursive;
        color: black;
        font-size: 25px;
       
        text-align: right;

    }


    .login-pic {
        display: none;
    }
    
    .logpic{
    display: block;
    float: left;
        margin-left: 140px;
        width: 500px;
        margin-top: 50px;
}

    .loginfunktion{
    float: left;
    margin-top: 50px;
    margin-left: 200px;
}
    

    .overskrift {
        font-family: 'Staatliches', cursive;
        letter-spacing: 8px;
        float: left;
        margin-top: 20px;
        margin-left: 200px;
        font-size: 20px;
    }

    .chanel {

        float: right;
        margin-right: 240px;
        margin-top: 0px;
        width: 300px;

    }


    .countdown {
        float: left;
        margin-left: 242px;
        margin-top: 10px;
        width: 300px;
    }

    .signup {
        margin-top: 10px;
        margin-left: 320px;
    }

    .info-tekst {

        font-family: 'Source Code Pro', monospace;
        text-align: left;
        font-size: 20px;
        margin-right: 150px;
        margin-left: 150px;
        margin-top: 20px;
        text-align: center;

    }

    .overskrift2 {
        font-family: 'Staatliches', cursive;
        letter-spacing: 8px;
        float: left;
        margin-top: 80px;
        margin-left: 160px;
        font-size: 30px;
    }

    .samlet {
        display: block;
        float: left;
        font-family: 'Source Code Pro', monospace;
        text-align: left;
        font-size: 25px;
        margin-left: 164px;
        margin-right: 164px;
        margin-top: -30px;
    }

    .knap2 {
        float: left;
        margin-left: 164px;
        margin-top: 40px;
    }

    .info-tekst2 {
        display: none;
    }


    .info-tekst3 {
        display: none;
    }


    .info-tekst4 {
        display: none;
    }



    .it5 {
        display: none;
    }

    .it6 {
        display: none;
    }


    .it7 {
        display: none;
    }


    .it8 {
        display: none;
    }

    .collage2 {
        width: 600px;
        margin-top: 50px;
        float: left;
        margin-left: 100px;
    }

    .logostort {
        margin-top: 350px;
        margin-left: 250px;
    }

    .tekst {
        font-family: 'Source Code Pro', monospace;
        text-align: center;
        margin-left: 10px;
        font-size: 20px;
    }


    .signupformular {
        margin-top: 20px;
        margin-left: 200px;
        width: 500px;
    }

}

@media screen and (max-width: 375px) {
    

    .nav2 {
    float: right;
    margin-right: 10px;
     margin-top: 15px;
        font-family: 'Bungee Hairline', cursive;
        color: black;
        font-size: 15px;
      
        text-align: right;
    }

    .nav2 ul {
        padding: 0px;
        list-style: none;
    }

    .nav2 a {
        color: black;
        text-decoration: none;

    }
    

 .logof {
    display: block;
    width: 170px;
    height: 50px;
    float: left;
    margin-top: 35px;
    margin-left: 5px;
}
   
    
    .frontpic{
        display: none;
    }
    
    .hund{
      display: block;
        width: 400px;
        float: left;
        margin-left: -3px;
        margin-top: 40px;
       
    }
     
    
   .formulardel1{
    width: 300px;
    padding: 16px 32px;
    margin: 10px 2px;
    float: left;
    margin-left: 50px;
    margin-top: 5px;
}
    
    input.connect{
    background-color: white;
    width: 100px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 2px;
    color: black;
    font-size: 10px; 
    margin-top: 3px;
}
    
    .formularpic{
        display:none;
    }
    
    .loginfunktion{
    float: left;
    margin-top: 50px;
    margin-left: 70px;
        
}
    
    
.overskriftfoerste{
    font-family: 'Staatliches', cursive;
    font-size: 15px;
    letter-spacing: 6px;
}

input[type=text]{
    border-style: dotted;
    width: 150px;
    padding: 10px 32px;
    margin: 5px 2px;
}

.connect{
    padding: 8px;
    font-family: 'Staatliches', cursive;
    letter-spacing: 3px;
    font-size: 15px;
    margin-top: -100px;
}
    
    .logpic{
    display: block;
        margin-left: 40px;
        width: 300px;
}

    .overskrift{
        font-family: 'Staatliches', cursive;
        letter-spacing: 8px;
        float: left;
        margin-top: 20px;
        margin-left: 80px;
        font-size: 8px;
    }
    
    .chanel {

        float: right;
        margin-right: 80px;
        margin-top: 0px;
        width: 200px;
    
}
    
    .countdown {
        float: left;
        margin-left: 100px;
        margin-top: 10px;
        width: 200px;
    }

    .signup {
        float: left;
        margin-top: 10px;
        margin-left: 150px;
        width: 100px;
    }

    .info-tekst {

        font-family: 'Source Code Pro', monospace;
        text-align: center;
        font-size: 13px;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 20px;

    }
    
     .overskrift2 {
        font-family: 'Staatliches', cursive;
        letter-spacing: 8px;
        float: left;
        margin-top: 30px;
        margin-left: 60px;
        font-size: 19px;
    }

    .samlet {
        display: block;
        float: left;
        font-family: 'Source Code Pro', monospace;
        text-align: left;
        font-size: 13px;
        margin-left: 60px;
        margin-right: 84px;
        margin-top: -10px;
    }

    .knap2 {
        float: left;
        margin-left: 60px;
        margin-top: 20px;
        width: 100px;
    }

    .info-tekst2 {
        display: none;
    }


    .info-tekst3 {
        display: none;
    }


    .info-tekst4 {
        display: none;
    }



    .it5 {
        display: none;
    }

    .it6 {
        display: none;
    }


    .it7 {
        display: none;
    }


    .it8 {
        display: none;
    }

    .collage2 {
        width: 300px;
        margin-top: 50px;
        float: left;
        margin-left: 50px;
    }
     .logostort {
        margin-top: 250px;
        margin-left: 70px;
         width: 250px;
    }

    .tekst {
        font-family: 'Source Code Pro', monospace;
        text-align: center;
        margin-left: 10px;
        font-size: 13px;
    }


    .signupformular {
        margin-top: 20px;
        margin-left: 80px;
        width: 300px;
        height: 450px;
    }

    }

